@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Cairo:wght@500&family=Oswald&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 16px;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  .titleform{
    font-family: 'cairo';
    font-size: 22px; 
    font-weight: 600;
  }
.form-label{
    font-family: 'cairo';
    font-size: 16px;
    
}
.tit{
font-family: 'cairo';
color: blue;
font-size: 16px;
font-weight: 600;
}
.form-check{
    color: #000;
    font-family: 'cairo';
}
.btn{
    font-family: 'cairo';
}